<div class="user-question">
  <p class="mb-1"><%= params['question'] %></p>
  <p><em>-You</em></p>
</div>

<div class="coach-answer">
  <p class="answer-text mb-1"><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>

<div class="mt-3">
  <%= link_to "Ask a new question", ask_path, class: "question-link" %>
</div>
